{% extends 'villageapp/base.html' %}
{% load static %}
{% block content%}
<div class="my-4 p-3">
    <h1 class="text-center  my-4 alert p-2 ">Rajiv Nagar Jhiri</h1>
    
    <div class="row my-4 p-3">
        
           <p class="col text-center" style="font-size:1.5rem">
  
            Hello ! ... Ram Ram ... ! this is sarpanch of Rajiv Nagar Jhiri and Gram Panchyat
                . We welcome you to official website of Rajiv Nagar Jhiri .Rajiv Nagar is a village from Hisar district
                of Haryana. It is under administration of Gram Panchayat.Main occupation is agriculture.There is need
                big development in Rajiv Nagar from road to electricity and education. As time is changing we are also
                trying to be
                computerized from the tedious and time - consuming paperwork. This website is the result of one of our
                goals to improve our administration by shifting from paper to computer. It will not only reduce
                corruption but make things faster which is a matter of big stress to our resident .
                This website primarily focuses on announcements and complaints by our residents . They can do complains
                online . Now they don't have to walk long 2 km just for filing a complaint . But we are also going to
                add a picture gallery of our village. Also also share glorious history of our village . This will help
                in attaracting tourists and people from outside will be more respectful to our village .
           </p>
           {% comment %} <img src="{% static 'villageapp/images/cr2.jpeg'%}" alt="" class="col-6 text-center offset-1" style="width:40rem; height:30rem"> {% endcomment %}
    </div>
</div>
   

{% endblock content%}