{% extends 'villageapp/base.html' %}
{% load static %}

{% block content%}

<header class="container-fluid my-3 h3 text-center d-flex align-items-center justify-content-center">
  <img src="{% static 'villageapp/images/logo.png' %}" style="width: 5rem; height: 5rem;" class="mx-5">
  <p>Rajiv Nagar Jhir Job Portal</p>
</header>
<div class="content-section">

<form action="" method="POST">
  
   {% csrf_token %}
   <fieldset class="form-group">
     <legend class="border-bottom mb-4">Delete Your Job</legend>
     <h2>Are You sure to delete this job  :  {{object.title}}</h2>
   </fieldset>
   <div class="my-2 form-group">
        <input type="submit" class="btn btn-outline-danger" value="Yes , Delete"/>
        <a class="btn btn-outline-Success" href="{% url 'job_detail' object.id %}">Cancel</a>
   </div>



</form>

   
</div>

{% endblock content%}